.footer__copyright {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	margin: 32px 0 0;
}


@media screen and (min-width:768px) {
  .footer__copyright {
    margin: 0;
    line-height: 16px;
  }
}