.lead__image {
	background-image: url(../../../images/lead__image.png);
	width: 100%;
	min-height: 200px;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	background-repeat: no-repeat;
	margin: 40px auto 0;
}

@media screen and (min-width: 768px) {
	.lead__image {
		min-height: 480px;
	}
}
