.intro {
	max-width: 690px;
	padding: 20vw 5vw 20vw;
}

@media screen and (min-width: 768px) {
	.intro {
		padding: 88px 3.125vw 88px;
	}
}

@media screen and (min-width: 1024px) {
	.intro {
		padding: 8.98vw 4.6875vw;
	}
}

@media screen and (min-width: 1280px) {
	.intro {
		padding: 92px 442px 92px 148px;
	}
}

@media screen and (min-width: 2560px) {
	.intro {
		padding: 92px 442px 92px 30.78125vw;
	}
}