.intro {
	max-width: 690px;
	padding: 20vw 5vw 20vw;
}

@media screen and (max-width: 768px) {
	.intro {
		padding: 88px 3.125vw 88px;
	}
}

@media screen and (max-width: 1024px) {
	.intro {
		padding: 8.98vw 4.6875vw;
	}
}

@media screen and (max-width: 1280px) {
	.intro {
		padding: 7.1875vw 11.5625vw;
	}
}