.cover__background {
	background-image: url(../../../images/cover__background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
