.lead__caption {
	font-weight: normal;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 0.15em;
	margin: 8px 0 0 5vw;
}

@media screen and (min-width: 768px) {
	.lead__caption {
		margin: 8px 0 0 3.125vw;
	}
}

@media screen and (min-width: 1024px) {
	.lead__caption {
		margin: 8px 0 0 4.6875vw;
	}
}

@media screen and (min-width: 1280px) {
	.lead__caption {
		margin: 8px 0 0 11.5625vw;
	}
}

@media screen and (min-width: 2560px) {
	.lead__caption {
		margin: 8px 0 0 30.78125vw;
	}
}
