.footer {
	max-width: 1184px;
	padding: 64px 16px 24px 16px;
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.footer {
		padding: 88px 3.125vw 3.125vw;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1024px) {
	.footer {
		padding: 92px 4.6875vw 24px 4.6875vw;
	}
}

@media screen and (min-width: 1280px) {
	.footer {
		padding: 92px 3.75vw 24px 3.75vw;
		margin: 0 auto;
	}
}
