.place__website {
	display: none;
}

@media screen and (min-width: 768px) {
	.place__website {
		display: block;
		margin-left: 32px;
		align-self: flex-end;
		flex-basis: 352px;
	}
}

@media screen and (min-width: 1024px) {
	.place__website {
		margin-left: 40px;
		flex-basis: 456px;
	}
}

@media screen and (min-width: 1280px) {
	.place__website {
		margin-left: 40px;
	}
}
