.intro__title {
	font-weight: 900;
	font-size: 32px;
	line-height: 35px;
	margin-bottom: 40px;
	font-style: normal;
}
.intro__title {
	font-weight: 900;
	font-size: 32px;
	line-height: 35px;
	font-style: normal;
	text-align: left;
	max-width: 250px;
	margin: 0 0 40px;
}
